@{
    ViewData["Title"] = "Contact Information Centre";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject ComplaintFormCore.Resources.SharedViewLocalizer Localizer

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }

}

<div id="surveyElement" style="display:inline-block;width:100%;">
    <survey :survey='survey' />
</div>

<div id="surveyResult"></div>

@section CustomStyles {
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/ladda-themeless.min.css" rel="stylesheet" />
}

@section CustomScripts {

    <script src="~/dist/bundle.js"></script>

    <script type="text/javascript">

        const lang = "@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName";
        const token = "@ViewBag.token";

        initContactInfo(lang, token);

    </script>
}

