@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="row wb-eqht">
        <div class="col-sm-4">
            <div class="panel panel-default hght-inhrt">
                <div style="height:235px; background-image: url('/img/ocf_pipeda.jpg');">
                    <div style="padding-top:100px;">
                        <a href="/Home/Test?token=0f3ee945-def4-4288-8a03-9459bb4890da" class="btn btn-warning">Start</a>
                    </div>
                </div>
                <div class="panel-body">
                    <h2 class="card-title">File a complaint about a business</h2>
                    <p class="card-text">Learn how to file a complaint about a business under the <em>Personal Information Protection and Electronic Documents Act</em> (PIPEDA) and access the complaint form.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default hght-inhrt">
                <div style="height:235px; background-image: url('/img/ocf_pa.jpg');">
                    <div style="padding-top:100px;">
                        <a href="/Home/DetailsPA?token=0f3ee945-def4-4288-8a03-9459bb4890da" class="btn btn-warning">Start</a>
                    </div>
                </div>
                <div class="panel-body">
                    <h2 class="card-title">File a complaint about a federal institution</h2>
                    <p class="card-text">Learn how to file a complaint about a federal government institution under the Privacy Act and access the complaint form.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default hght-inhrt">
                <div style="height:235px; background-image: url('/img/pia_etool.jpg');">
                    <div style="padding-top:100px;">
                        <a href="/Home/PiaETool?token=0f3ee945-def4-4288-8a03-9459bb4890da" class="btn btn-warning">Start</a>
                    </div>
                </div>
                <div class="panel-body">
                    <h2 class="card-title">PIA eTool</h2>
                    <p class="card-text">A PIA is a risk management process that helps institutions ensure they meet legislative requirements and identify the impacts their programs and activities will have on individuals’ privacy.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row wb-eqht">
        <div class="col-sm-4">
            <div class="panel panel-default hght-inhrt">
                <div style="height:235px; background-image: url('/img/test.jpg');">
                    <div style="padding-top:100px;">
                        <a href="/Home/Test?token=0f3ee945-def4-4288-8a03-9459bb4890da" class="btn btn-warning">Start</a>
                    </div>
                </div>
                <div class="panel-body">
                    <h2 class="card-title">Test</h2>
                    <p class="card-text">Tests</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default hght-inhrt">
                <div style="height:235px; background-image: url('/img/breach_pipeda.jpg');">
                    <div style="padding-top:100px;">
                        <a href="/Home/Pbr?token=0f3ee945-def4-4288-8a03-9459bb4890da" class="btn btn-warning">Start</a>
                    </div>
                </div>
                <div class="panel-body">
                    <h2 class="card-title">Report a privacy breach at your business</h2>
                    <p class="card-text">Businesses subject to PIPEDA have certain obligations following a breach of security safeguards. These may include reporting to our office and notifying affected individuals.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default hght-inhrt">
                <div style="height:235px; background-image: url('/img/ga_notification.jpg');">
                    <div style="padding-top:100px;">
                        <a href="/Home/PiaETool?token=0f3ee945-def4-4288-8a03-9459bb4890da" class="btn btn-warning">Start</a>
                    </div>
                </div>
                <div class="panel-body">
                    <h2 class="card-title">Public Interest Disclosure (PID) notification</h2>
                    <p class="card-text">A PIA is a risk management process that helps institutions ensure they meet legislative requirements and identify the impacts their programs and activities will have on individuals’ privacy.</p>
                </div>
            </div>
        </div>
    </div>

</div>
