@{
    ViewData["Title"] = "PID";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject ComplaintFormCore.Resources.SharedViewLocalizer Localizer

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }

}

<div id="surveyElement" style="display:inline-block;width:100%;">
    <survey :survey='survey' />
</div>

<div id="surveyResult"></div>

@section CustomStyles {
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/ladda-themeless.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />
}

@section CustomScripts {
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/dist/bundle.js"></script>
    <script src="~/js/datepicker.js"></script>

    <script type="text/javascript">

        const lang = "@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName";
        const token = "@ViewBag.token";

        initPidSurvey(lang, token);
    </script>
}

