@{ ViewData["Title"] = "Overview PA"; }

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject ComplaintFormCore.Resources.SharedViewLocalizer Localizer

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@section CustomScripts {

    <script src="~/js/survey/SurveyLocalStorage.js"></script>

    <script>
        $(document).ready(function () {

            clearLocalStorage(storageName_PA);

        });
    </script>
}

<div>
    <h1>@Html.Raw(System.Net.WebUtility.HtmlDecode(Localizer.GetLocalizedString("OverviewPaTitle")))</h1>
</div>
<div>
    <p> @Html.Raw(System.Net.WebUtility.HtmlDecode(Localizer.GetLocalizedString("OverviewPA")))</p>
</div>

<div class="form-group">
    @Html.ActionLink(Localizer.GetLocalizedString("btnStartSurvey"), "DetailsPA", "Home", null, new { @class = "btn btn-primary" }) 
</div>

