

<div id="cn-centre-col">
    <div id="cn-centre-col-inner">
        <div class="row wb-eqht">
            <div class="col-sm-6 col-md-6">
                <div>
                    <section class="opc-box eqht-trgt">
                        <h3 class="h3">PIPEDA Complaint</h3>
                        <p>File a complaint about a business</p>
                        <a class="btn btn-primary margin-top-medium" href="@Url.Action("RegisterPipeda", "Registration")">
                            File a PIPEDA Complaint
                        </a>
                    </section>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div>
                    <section class="opc-box eqht-trgt">
                        <h3 class="h3">PA Complaint</h3>
                        <p>File a complaint about a federal institution</p>
                        <a class="btn btn-primary margin-top-medium" href="@Url.Action("RegisterPa", "Registration")">
                            File a PA Complaint
                        </a>
                    </section>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div>
                    <section class="opc-box eqht-trgt">
                        <h3 class="h3">Temporary link To Dropbox</h3>
                        <p>
                            Drop-box
                        </p>
                        <a class="btn btn-primary margin-top-medium" href="@Url.Action("RegisterDocDropOff", "Registration")">
                           Add Information To a Pre-Existing Case
                        </a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
