# This is a basic workflow to help you get started with Actions

name: Run ESLint on Pull Requests or direct commits on Master

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # install dependencies
    - name: npm install
      working-directory: ./ComplaintFormCore/ClientApp
      run: npm i --ignore-scripts

    # Run eslint
    - name: Run ESLint
      working-directory: ./ComplaintFormCore/ClientApp/src  
      run: eslint .
