
/*  The question titles are being rendered as <h5> by Survey.js and the css from GoC doesn't set 
    the style desired */
.sv_q_title {
    color: black;
    font-weight: bold;
}

/*.sv_p_title {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}*/

.sv_q_required_text {
    color: red;
}

.sv_textarea{
    width: 100%;
    height: 120px
}

/*  This is to make the radio button items not being bold*/
.sv_q_radiogroup_label {
    font-weight: normal
}

/*  This is to make the check box items not being bold*/
.sv_q_checkbox_control_label {
    font-weight: normal
}

/*  This is to shift the items to the right a bit*/
.sv_main .sv_container .sv_body .sv_p_root fieldset.sv_qcbc {
    padding-top: 0.1em;
    margin-left: 30px;
}

/* Progress bar native style except for the color blue (#007292)*/
.sv_main .sv_progress {
    background-color: #e7e7e7;
    margin-bottom: 2em;
}

.sv_main .sv_progress_bar {
    background-color: #007292;
}

.sv_main .sv_container .sv_body .sv_progress {
    height: 0.3em;
}

.sv_main .sv_container .sv_body .sv_progress .sv_progress_bar {
    height: 100%;
    min-width: 100px;
    position: relative;
    margin-top: 2em;
}

.sv_main .sv_container .sv_body .sv_progress .sv_progress_bar > span {
    position: absolute;
    top: -1.5em;
    display: inline-block;
    white-space: nowrap;
}
/* end progress bar ***********************/

/*.sv_row {
    min-width: 300px;
}*/


.alert, .label-danger {
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 0 4px;
    text-align: left !important;
}

/*  Because we ar enot using the css from Survey.js we need to have a copy of that element.
    Otherwise the radiobuttons are showing a big <circle> div
*/
.sv-hidden {
    display: none !important;
}



