
/*  The question titles are being rendered as <h5> by Survey.js and the css from GoC doesn't set
    the style desired */
.sv_q_title {
    color: black;
    font-weight: bold;
}

.sv_q_title.required:before {
    content: "* ";
    margin-left: -.665em;
    color: #d3080c;
    font-weight: 700;
}

.sv_q_required_text {
    color: red;
}

.sv_textarea {
    width: 100%;
    height: 120px
}

/*  This is to make the radio button items not being bold*/
.sv_q_radiogroup_label {
    font-weight: normal
}

/*  This is to make the check box items not being bold*/
.sv_q_checkbox_control_label {
    font-weight: normal
}

/*  This is to shift the items to the right a bit*/
.sv_main .sv_container .sv_body .sv_p_root fieldset.sv_qcbc {
    padding-top: 0.1em;
    margin-left: 30px;
}

/* Progress bar native style except for the color blue (#007292)*/
.sv_main .sv_progress {
    background-color: #e7e7e7;
    margin-bottom: 2em;
}

.sv_main .sv_progress_bar {
    background-color: #007292;
}

.sv_main .sv_container .sv_body .sv_progress {
    height: 0.3em;
}

    .sv_main .sv_container .sv_body .sv_progress .sv_progress_bar {
        height: 100%;
        min-width: 100px;
        position: relative;
        margin-top: 2em;
    }

        .sv_main .sv_container .sv_body .sv_progress .sv_progress_bar > span {
            position: absolute;
            top: -1.5em;
            display: inline-block;
            white-space: nowrap;
        }
/* end progress bar ***********************/

.alert, .label-danger {
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 0 4px;
    text-align: left !important;
}

/*  Because we ar enot using the css from Survey.js we need to have a copy of that element.
    Otherwise the radiobuttons are showing a big <circle> div
*/
.sv-hidden {
    display: none !important;
}

/* This css is manually set because the page title <h4> could not be dynamically updated to <h1>.
    This is the style copied from theme.css from GoC
*/
.sv_page_title {
    color: #b31885;
    font-weight: 500;
    border-bottom: 1px solid #007292;
    margin-bottom: 1em;
    font-size: 34px;
    margin-top: 1.25em;
    padding-bottom: .2em;
    line-height: 1.1;
    margin: .67em 0;
}

.sv_row {
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}

/************** BOOLEAN ********************/
.sv-boolean {
    display: block;
    position: relative;
    line-height: 1.5em;
}

.sv-boolean__switch {
    float: left;
    box-sizing: border-box;
    width: 4em;
    height: 1.5em;
    margin-right: 1.0625em;
    margin-left: 1.3125em;
    padding: 0.125em 0.1875em;
    border-radius: 0.75em;
    background-color: #007292;
}

[dir="rtl"] .sv-boolean__switch, [style*="direction:rtl"] .sv-boolean__switch {
    float: right;
}

.sv-boolean__slider {
    display: block;
    width: 1.25em;
    height: 1.25em;
    transition-duration: 0.1s;
    transition-property: margin-left;
    transition-timing-function: linear;
    border: none;
    border-radius: 100%;
    background-color: white;
}

.sv-boolean--indeterminate .sv-boolean__slider {
    margin-left: calc(50% - 0.625em);
}

.sv-boolean--checked .sv-boolean__slider {
    margin-left: calc(100% - 1.25em);
}

.sv-boolean__label {
    cursor: pointer;
    float: left;
    font-weight: normal;
}

[dir="rtl"] .sv-boolean__label, [style*="direction:rtl"] .sv-boolean__label {
    float: right;
}

[dir="rtl"] .sv-boolean--indeterminate .sv-boolean__slider, [style*="direction:rtl"] .sv-boolean--indeterminate .sv-boolean__slider {
    margin-right: calc(50% - 0.625em);
}

[dir="rtl"] .sv-boolean--checked .sv-boolean__slider, [style*="direction:rtl"] .sv-boolean--checked .sv-boolean__slider {
    margin-right: calc(100% - 1.25em);
}

.sv-visuallyhidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

label.sv-boolean {
    padding-bottom: 3em;
}

.sv_matrix_cell {
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
}

table.sv_q_matrix_dynamic.thead {
    display: none;
}

/*.sv_q_matrix_dynamic.sv_matrix_dynamic_button {
    padding: 0.3em 2em;
}*/

sv_q_dd_other {
    margin-top: 1em !important;
}

.sv_q_dd_other textarea {
    width: 100% !important;
}
